@{
    ViewData["Title"] = "Debug Test";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid py-4">
    <h2>Debug - Products và Variants</h2>
    
    <div class="row">
        <div class="col-md-6">
            <h3>Products</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>IsConfigurable</th>
                        <th>IsAvailable</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var product in ViewBag.Products)
                    {
                        <tr>
                            <td>@product.ProductID</td>
                            <td>@product.ProductName</td>
                            <td>@product.IsConfigurable</td>
                            <td>@product.IsAvailable</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <div class="col-md-6">
            <h3>Variants</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ProductID</th>
                        <th>Product Name</th>
                        <th>Variant Name</th>
                        <th>Price Adj</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var variant in ViewBag.Variants)
                    {
                        <tr>
                            <td>@variant.VariantID</td>
                            <td>@variant.ProductID</td>
                            <td>@variant.Product?.ProductName</td>
                            <td>@variant.VariantName</td>
                            <td>@variant.PriceAdjustment</td>
                            <td>@variant.IsAvailable</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="mt-4">
        <a href="@Url.Action("GetProductVariants", new { productId = 1 })" class="btn btn-primary" target="_blank">
            Test API GetProductVariants(1)
        </a>
        <a href="@Url.Action("GetProducts")" class="btn btn-success" target="_blank">
            Test API GetProducts
        </a>
    </div>
</div> 